/**
 * @file
 * CSS structure styles
 *
 * Includes styling for page layout structural elements
 *
 */

#page { overflow: hidden; }

/* Standard section wrapper */
.row {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
}

/* Primary skip-to links */
#skip-links { display: none; }

/* Utility and SM links */
#utility {
  border-top: 2px solid #999;
  box-shadow: 0px 0px 10px #C4C4C4;
  left: 0;
  position: absolute;
  top: -132px;
  width: 100%;
  z-index: 100;
}
#social-media-links-wrapper {
  float: right;
  position: relative;
}
#utility .row { padding: 0; }
#utility-links { float: left; }
#utility-links .menu, #social-media-links {
  float: left;
  margin: 0;
  padding: 0;
}
#utility-links .ulink, #social-media-links li {
  display: block;
  float: left; 
  margin: 0;
  padding: 0;
}
#utility-links .ulink a {
  color: #646464;
  display: block;
  font-size: .86em;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 1px 0 0;
  padding: 13px 10px 13px 28px;
  position: relative;
}
#utility-links .ulink a:link, #utility-links .ulink a:visited { text-decoration: none; }
#utility-links .ulink a:hover, #utility-links .ulink a:active { background-color: #f5f5f5; }
#utility-links .campus-map a { padding-left: 26px; }
#social-media-links { float: right; }
#social-media-links a {
  background: url('../images/icons/icon-sm-outlet-default.png') no-repeat left center;
  display: block;
  height: 0px;
  overflow: hidden;
  padding: 30px 0 0 0;
  margin: 5px;
  width: 30px;
}
#utility-links .mothership a:before,
#utility-links .campus-map a:before,
#utility-links .offices a:before,
#utility-links .directories a:before {
  color: #8C8C8C;
  content: '\f0a8';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  left: 9px;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 12px;
}

#utility-links .mothership a:before { content: '\f015'; }
#utility-links .campus-map a:before { content: '\f041'; left: 11px; }
#utility-links .offices a:before { content: '\f0f7'; }
#utility-links .directories a:before { content: '\f007'; }
#social-media-links .facebook   { background: url('../images/icons/icon-facebook.png'); }
#social-media-links .flickr     { background: url('../images/icons/icon-flickr.png'); }
#social-media-links .googleplus { background: url('../images/icons/icon-googleplus.png'); }
#social-media-links .linkedin   { background: url('../images/icons/icon-linkedin.png'); }
#social-media-links .pinterest  { background: url('../images/icons/icon-pinterest.png'); }
#social-media-links .rss        { background: url('../images/icons/icon-rss.png'); }
#social-media-links .twitter    { background: url('../images/icons/icon-twitter.png'); }
#social-media-links .youtube    { background: url('../images/icons/icon-youtube.png'); }

/* Masthead */
#masthead { min-height: 212px; padding: 42px 0 0; position: relative;  }
#main-feature { min-height: 450px; width: 100%; } 
#identity {
  position: absolute;
  top: 42px;
  width: 100%;
}
#identity-wrapper {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 1.0);
  height: 90px;
  margin: 0 auto;
  max-width: 1024px;
  overflow: hidden;
}

/* Primary logo */
#gt-logo {
  float: left;
  margin: 0;
  width: 65%;
}
#gt-logo img.uploaded-logo-file {
  height: 100%;
  width: auto;
}

/* Site title */
#site-title { 
  color: #EEB211;
  float: right;
  font-stretch: condensed;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 28px 30px 0 0;
  text-align: right;
  text-shadow: 0 1px 2px #000000;
  max-width: 40%;
}
#site-title.two-line { 
  font-size: 1.7143em;
  line-height: 1.05;
  padding-top: 18px;
}

/* Primary menus */
#primary-menus {
  position: absolute;
  top: 132px;
  width: 100%;
}
#primary-menus-wrapper {
  background-color: #E6E6E6;
  margin: 0 auto;
  max-width: 1024px;
} 
#primary-menus-toggle {
  background-color: #EEB211;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  padding: 3px 8px;
  text-transform: uppercase;
}
#primary-menus-toggle:before {
  color: #fff;
  content: '\f022';
  display: block;
  float:left;
  font-family: FontAwesome;
  font-size: 1.62em;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
}
#primary-menus-toggle span {
  display:block;
  float:left;
  margin: 5px 0 0 6px
}
#primary-menus-close {
  background-color: #f1f1f1;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: block;
  height: 44px;
  overflow: hidden;
  position: absolute;
  right: -44px;
  top: 1px;
  width: 44px;
}
#primary-menus-close span { display: none; }
#primary-menus-close:before {
  color: #333;
  content: '\f057';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  left: 12px;
  line-height: inherit;
  position: absolute;
  top: 6px
}
/* Main menu & action links */
#main-menu-wrapper { float: left; position: relative; }
#main-menu-wrapper ul, #action-items {
  background-color: #EEB211;
  float: left;
  font-size: .929em;
  line-height: 1.7;
  list-style: none;
  margin: 0;
  padding: 0;
}
#action-items-wrapper { float: left; position: relative; }
#action-items {
  background: #e6e6e6;
  background: -moz-linear-gradient(left, #b2b2b2 0%, #e6e6e6 3%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b2b2b2), color-stop(3%,#e6e6e6));
  background: -webkit-linear-gradient(left, #b2b2b2 0%,#e6e6e6 3%);
  background: -o-linear-gradient(left, #b2b2b2 0%,#e6e6e6 3%);
  background: -ms-linear-gradient(left, #b2b2b2 0%,#e6e6e6 3%);
  background: linear-gradient(to right, #b2b2b2 0%,#e6e6e6 3%);
  padding: 0 0 0 3px;
}
#main-menu-wrapper li, #action-items li {
  background-image: none;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
#action-items li { text-transform: uppercase; }
#main-menu-wrapper li ul { display: none; }
#main-menu-wrapper a, #action-items a { 
  display: block;
  padding: 6px 12px;
}
#action-items a { padding-right: 18px; }
#action-items a:after {
  color: #AAAAAA;
  content: "\f105";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.4em;
  line-height: 1;
  position: absolute;
  right: 6px;
  top: 7px;
}
#main-menu-wrapper a:link, #main-menu-wrapper a:visited { color: #00254C; text-decoration: none; }
#main-menu-wrapper a:hover, #main-menu-wrapper a:active {
  background: none repeat scroll 0 0 #171102;
  color: #FFFFFF;
  transition: background 0.3s ease 0s;
}
#action-items a:link, #action-items a:visited { color: #646464; text-decoration: none; }
#action-items a:hover, #action-items a:active { background-color: #eeeeee; color: #171102; text-decoration: none; }

/**
 * Site search in primary-menus
 */
#site-search {
  float: right;
  position: relative;
}
#site-search #search-block-form #edit-submit { display: none; }
#site-search-container-switch {
  background: #6b6b6b;
  background: -moz-linear-gradient(left, #6b6b6b 0%, #a9aaae 5%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6b6b6b), color-stop(5%,#a9aaae));
  background: -webkit-linear-gradient(left, #6b6b6b 0%,#a9aaae 5%);
  background: -o-linear-gradient(left, #6b6b6b 0%,#a9aaae 5%);
  background: -ms-linear-gradient(left, #6b6b6b 0%,#a9aaae 5%);
  background: linear-gradient(to right, #6b6b6b 0%,#a9aaae 5%);
}
#site-search-container-switch {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: .929em;
  font-weight: 500;
  letter-spacing: .08em;
  line-height: 1.7;
  padding: 6px 18px 6px 34px;
  text-transform: uppercase;
}
#site-search-container-switch:before {
  color: #fff;
  content: '\f002';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  left: 12px;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 8px;
}
#site-search-container {
  background-color: #A9AAAE;
  border-radius: 0 0 5px 5px;
  display: none;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 100%;
}

/* Local (Drupal) search */
#search-local input { width: 200px; }

/* All of GT (Goole Appliance) search */
#search-gt input { width: 200px; }

/* User choice search */
#search-user-choice {
  min-width: 270px;
  padding: 0 0 3px 0; 
  position: relative;
}
#search-user-choice #search-local-selection, 
#search-user-choice #search-gt-selection {
  color: #e5e5e5;
  cursor: pointer;
  float: left;
  font-size: 1em;
  font-weight: 500;
  padding: 35px 10px 0 22px;
  position: relative;
}
#search-user-choice #search-local-selection:before, 
#search-user-choice #search-gt-selection:before {
  color: #d8d8d8;
  content: '\f096';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.3em;
  left: 2px;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 35px;
}
#search-user-choice #search-local-selection.checked, 
#search-user-choice #search-gt-selection.checked { color: #fff; }
#search-user-choice #search-local-selection.checked:before, 
#search-user-choice #search-gt-selection.checked:before {
  color: #fff;
  content: '\f046';
}
#search-user-choice #search-local, 
#search-user-choice #search-gt {
  left: 0px;
  position: absolute;
  top: 0px;
}
#search-user-choice #search-gt { display: none; } 
#search-user-choice #search-local input, 
#search-user-choice #search-gt input {
  border: 1px solid #949599;
  padding: 2px;
  width: 270px;
}

/* Breadcrumb */
#breadcrumb { clear: both; }
#breadcrumb .row {
  background-color: #023d7b;
  border-bottom: 1px solid #072f59;
  margin: 0 auto;
}
#breadcrumb ul, #breadcrumb li {
  float: left;
  margin: 0;
  padding: 0;
}
#breadcrumb li {
  font-size: .821em;
  font-weight: 500;
  letter-spacing: .05em;
  list-style: none;
  position: relative;
}
#breadcrumb li a {
  color: #bbcfe4;
  display: block;
  padding: 6px 18px 6px 10px;
  text-decoration: none;
}
#breadcrumb li a:after {
  color: #82a6cc;
  content: '\f054';
  display: inline-block;
  font-family: FontAwesome;
  font-size: .8em;
  font-style: normal;
  font-weight: normal;
  right: 0;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 12px;
}
#breadcrumb li.last a:after { display: none; }
#breadcrumb li a:hover { color: #fff; }

/**
 * Primary Content Regions
 */
#support { padding: 0 10px 20px; }
#sidebar-left, #sidebar-right { float: left; padding: 0 0 10px; width: 20%; }
#sidebar-left.solo-sidebar { margin: 0 0 0 -100%; width: 30%; }
#sidebar-right { margin: 0 0 0 60%; }
#sidebar-right.solo-sidebar { margin: 0; width: 30%; }
#content { float: left; padding: 0 0 10px; } 
#content.sidebar-left { margin: 0 0 0 30%; width: 70%; }
#content.sidebar-right { margin: 0; width: 70%; }
#content.both-sidebars { margin: 0 -120% 0 20%; width: 60%; }
#content-lead, #content-close { padding: 0 0 10px; }
#content-close { clear: both; }

/* Page title */
#page-title { padding: 0 10px; }

/* Default menus for Left Nav region */
#left-nav .block-title-wrapper { display: none; }
#left-nav .menu {
  border-top: 4px solid #EEB211;  
  margin: 0 0 20px;
  padding: 0;
}
#left-nav .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#left-nav .menu li a {
  border-bottom: 1px solid #c7c7c7; 
  display: block;
  color: #023d7b;
  font-weight: 700;
  padding: 8px 12px 8px 20px;
  position: relative;
  text-decoration: none;
}
#left-nav .menu li a:hover { color: #105aa8; }
#left-nav .menu li.expanded a {
  border-bottom: none;
  padding-bottom: 0px;
}
#left-nav .menu li.expanded li.last a { padding-bottom: 8px; } 
#left-nav .menu li .menu {
  border-bottom: 1px solid #c7c7c7; 
  border-top: none; 
  margin: 0;
  padding: 0 0 5px 12px;
}
#left-nav .menu li .menu li .menu { border: none; padding-bottom: 0; }
#left-nav .menu li li a {
  border: none;
  font-size: .9em;
  font-weight: 400;
}
#left-nav .menu li a:before {
  color: #eee;
  content: '\f054';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 6px;
}
#left-nav .menu li li a:before {
  content: "";
  padding-left: 16px;
}

/**
 * Superfooter
 */
#superfooter {
  background-color: #646464;
  padding: 20px 0; 
  width: 100%;
}

/* street address + map image */
#street-address-info { 
  float: right;
  padding: 0 15px; 
  width: 33%;
}
#street-address-info img { box-shadow: 0px 2px 5px #333; } 
#street-address-info p { color: #fff; font-size: .857em; margin-top: 6px; }

/* resource links */
.superfooter-resource-links {
  float: left;
  padding: 0 10px 10px;
  position: relative;
  width: 16.5%
}
.superfooter-resource-links ul.menu {
  display: block;
  font-size: .7857em;
  letter-spacing: .05em;
  line-height: 1.4;
  margin: 0 0 12px 0;
  padding: 0;
}
.superfooter-resource-links ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.superfooter-resource-links .title, .superfooter-resource-links ul.menu span.nolink {
  color: #EEB211;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.15;
  margin: 0 0 0.6em;
  padding: 0;
  text-shadow: 0 1px 0 #333333;
}
.superfooter-resource-links ul.menu span.nolink {
  border-bottom: 1px dotted #D8A10C;
  border-top: 1px dotted #D8A10C;
  display: block;
  font-size: 1.214em;
  font-weight: 700;
  margin: .9em 0 0.6em; 
  padding: 5px 0 6px 2px; 
}
.superfooter-resource-links ul.menu li a {
  color: #f1f1f1;
  display: block;
  padding: 0.5em 0 0.5em 3px;
  text-decoration: none;
}
.superfooter-resource-links ul.menu a:hover { color: #fff; text-decoration: underline; }  

/**
 * Footer
 */
#footer { background-color: #EEB211; }
#footer .row { padding: 10px; }
#footer-logo { float: left; }
#footer-logo img { float: left; width: 140px; }
#footer-logo p {
  color: #6c5003; 
  float: left;
  font-size: .857em;
  margin: 0;
  padding-top: 30px;
}
#footer-login {
  float: right;
  padding: 10px 0;
}
#footer-login li {
  float: left;
  font-size: .857em;
  list-style: none;
  margin: 0 10px 0 0;
}
#footer-login li a {
  background-color: #c5930c;
  border-radius: 20px;
  color: #EEB211;
  display: block;
  padding: 2px 8px;
  text-decoration: none; 
}
#footer-utility-links {
  float: right;
  position: relative;
  width: 60%;
}
#footer-utility-links .menu {
  margin: 0;
  padding: 5px 0;
  text-align: right;
}
#footer-utility-links .menu.gt-footer-utility-links { border-bottom: 1px solid #c5930c; }
#footer-utility-links .menu.custom-links-included { border-top: 1px solid #f6ba1a; }
#footer-utility-links .menu li {
  border-right: 1px solid #BE8C07;
  display: inline;
  font-size: .857em;
  padding: 2px 10px;
  margin: 0 0 2px;
} 
#footer-utility-links li.last { border: none; }
#footer-utility-links li.first.last { border: none; }
#footer-utility-links a {
  color: #6c5003;
  text-decoration: none; 
}
#footer-utility-links a:hover { color: #333; }


/**
 * Contextual links for GT Tools menus
 */
 
.gt-tools-contextual-link { display: block; }
.gt-tools-contextual-link.empty {
  border: 1px dashed #666;
  font-size: .786em;
  padding: 6px 10px;
  margin: 3px;
  text-align: center;
}
.gt-tools-contextual-link.empty:link,
.gt-tools-contextual-link.empty:visited {
  color: #666;
  text-decoration: none;
}
.gt-tools-contextual-link.empty:hover,
.gt-tools-contextual-link.empty:active {
  color: #000;
}
div:hover > .gt-tools-contextual-link.populated { visibility: visible; }
.gt-tools-contextual-link.populated {
  display: block;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 16px; 
}
.gt-tools-contextual-link.populated:before {
  color: #666;
  content: '\f013';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
}
#main-menu-wrapper .gt-tools-contextual-link.populated { padding: 0; }
#main-menu-wrapper .gt-tools-contextual-link.populated:hover { background-color: transparent; }
#superfooter .gt-tools-contextual-link.populated:before { color: #fff; }
#superfooter .gt-tools-contextual-link.empty {
  border-color: #333;
  color: #333;
}

/**
 * Media Query Breakpoints
 *
 * Breakpoints are calculated based on a browser default font-size of 16px and NOT what the base
 * font-size is set to be (which is ~14px in this case of this page.) Plus, if the user decides to
 * increase their default font size for their browser the layout will drop down to a lower
 * breakpoint (provided font size is increased enough), thus making for a more usable page!
 */

/* ~496px and less */
@media only screen and (max-width: 31em) {
  
  /**
   * Masthead
   */
  #masthead {
    min-height: 0px;
    padding: 0 0 18px;
  }
  #identity {
    border-top: 2px solid #999;
    position: static;
    top: 0;
  }
  #identity-wrapper { height: auto; }
  #gt-logo { height: 70px; }
  #gt-logo img {
    height: 100%;
    margin: 0 auto;
    width: auto;
  }
  #gt-logo, #site-title {
    float: none;
    text-align: left; 
    width: 100%; 
  }
  #site-title { max-width: 100%; }
  #site-title, #site-title.two-line {
    font-size: 1.429em;
    padding: 0 0 20px 15px;
  } 
  
  /**
   * Main Menu, Action Items + Utility/SM
   */
  #primary-menus {
    position: static;
    top: 0;
  }
  #primary-menus-off-canvas {
    background-color: #fff;
    box-shadow: 0px 0px 20px #666;
    left: -1000em;
    padding-top: 80px;
    position: absolute;
    top: 0;
    width: 260px;
    z-index: 1000;
  }
  #primary-menus-off-canvas.reveal {
    left: 0;
    transition: left .2s ease 0s;
  }
  #main-menu-wrapper,
  #main-menu-wrapper ul, 
  #main-menu-wrapper li { float: none; }
  #main-menu-wrapper { border-top: 1px solid #c5930c; }
  #main-menu-wrapper li { border-bottom: 1px solid #c5930c; }
  #main-menu-wrapper a:hover { background-color: #c5930c; }
  #action-items-wrapper,
  #action-items,
  #action-items li { float: none; }
  #action-items {
    background: none;
    background-color: #e6e6e6;
    border-top: 2px solid #999;
  }
  #action-items li {
    border-bottom: 1px solid #999;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
  }
  #action-items li a:hover { background-color: #f1f1f1; }
  #action-items-wrapper ul li a:after {
    color: #999;
    content: '\f0a9';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    position: absolute;
    right: 6px;
    top: 9px;
  }
  #utility {
    border-bottom: 2px solid #999;
    box-shadow: none;
    position: static;
  }
  #utility-links { 
    background-color: #fff;
    float: none;
    left: 0;
    position: absolute;
    top: 0;
  }
  #utility-links .ulink a:hover,
  #utility-links .ulink a:active { background-color: transparent; }
  #social-media-links { 
    float: none; 
    padding: 10px;
  }
  #social-media-links li {
    display: inline-block;
    float: none;
    padding: 3px;
  }
  
  /**
   * Primary Content Regions
   */
  #sidebar-left, #sidebar-right { float: none; margin: 0; width: 100%; }
  #sidebar-left.solo-sidebar, #sidebar-right.solo-sidebar { margin: 0; width: 100%; }
  #content, #content.sidebar-left,
  #content.sidebar-right,
  #content.both-sidebars { float: none; margin: 0; width: 100%; } 
  
  /**
   * Superfooter
   */
  .superfooter-resource-links {
    float: none;
    padding: 0;
    width: 100%;
  }
  .superfooter-resource-links .title:before {
    color: #999999;
    content: '\f0da';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    left: 11px;
    line-height: 1;
    position: absolute;
    text-shadow: none;
    top: 10px;
  }
  .superfooter-resource-links .title.open:before { content: '\f0d7'; }
  .superfooter-resource-links .title {
    border-top: 1px solid #999999;
    cursor: pointer;
    margin: 0;
    padding: 10px 10px 10px 26px;
  }
  .superfooter-resource-links ul.menu { 
    display: none;
    background-color: #454545;
    margin: 0 0 16px;
    padding: 10px 10px 10px 14px;
  }
  .superfooter-resource-links ul.menu span.nolink {
    border: none;
    margin: 0 0 0 -2px;
    padding: .5em 0;
  }
  #street-address-info {
    border-top: 1px solid #999;
    clear: left;
    float: left;
    padding: 20px 10px 0;
    width: 100%; 
  }
  #street-address-info p { margin: 6px 0 0 0; }
  
  /**
   * Footer
   */
  #footer-utility-links {
    float: none;
    width: 100%;
  }
  #footer-utility-links .menu { text-align: center; }
  #footer-utility-links .menu li {
    border: none;
    margin: 6px;
    padding: 0;    
  }
  #footer-utility-links .menu li a {
    display: inline-block;
    padding: 5px 10px;
  }
  #footer-logo {
    float: none;
    text-align: center; 
  }
  #footer-logo img, #footer-logo p { float: none; }
  #footer-logo p { padding: 0 0 10px; }
  
}

/* ~496px to ~816px */
@media only screen and (min-width: 31em) and (max-width: 51em) {
  
  /*
   * Masthead
   */
  #masthead {
    min-height: 0px;
    padding: 0 0 18px;
  }
  #identity {
    border-top: 2px solid #999;
    position: static;
    top: 0;
  }
  #identity-wrapper { height: auto; }
  #gt-logo { height: 70px; }
  #gt-logo img {
    height: 100%;
    margin: 0 auto;
    width: auto;
  }
  #gt-logo, #site-title {
    float: none;
    text-align: left; 
    width: 100%; 
  }
  #site-title { max-width: 100%; }
  #site-title, #site-title.two-line {
    font-size: 1.429em;
    padding: 0 0 20px 15px;
  } 
  
  /**
  * Main Menu, Action Items + Utility/SM
  */
  #primary-menus {
    position: static;
    top: 0;
  }
  #primary-menus-off-canvas {
    background-color: #fff;
    box-shadow: 0px 0px 20px #666;
    left: -1000em;
    padding-top: 80px;
    position: absolute;
    top: 0;
    width: 260px;
    z-index: 1000;
  }
  #primary-menus-off-canvas.reveal {
    left: 0;
    transition: left .2s ease 0s;
  }
  #main-menu-wrapper,
  #main-menu-wrapper ul, 
  #main-menu-wrapper li { float: none; }
  #main-menu-wrapper { border-top: 1px solid #c5930c; }
  #main-menu-wrapper li { border-bottom: 1px solid #c5930c; }
  #main-menu-wrapper a:hover { background-color: #c5930c; }
  #action-items-wrapper,
  #action-items,
  #action-items li { float: none; }
  #action-items {
    background: none;
    background-color: #e6e6e6;
    border-top: 2px solid #999;
  }
  #action-items li {
    border-bottom: 1px solid #999;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
  }
  #action-items li a:hover { background-color: #f1f1f1; }
  #action-items-wrapper ul li a:after {
    color: #999;
    content: '\f0a9';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    position: absolute;
    right: 6px;
    top: 9px;
  }
  #utility {
    border-bottom: 2px solid #999;
    box-shadow: none;
    position: static;
  }
  #utility-links { 
    background-color: #fff;
    float: none;
    left: 0;
    position: absolute;
    top: 0;
  }
  #utility-links .ulink a:hover,
  #utility-links .ulink a:active { background-color: transparent; }
  #social-media-links { 
    float: none; 
    padding: 10px;
  }
  #social-media-links li {
    display: inline-block;
    float: none;
    padding: 3px;
  }
  
  /**
   * Primary Content Regions
   */
  #sidebar-left, #sidebar-right { float: none; margin: 0; width: 100%; }
  #sidebar-left.solo-sidebar, #sidebar-right.solo-sidebar { margin: 0; width: 100%; }
  #content, #content.sidebar-left,
  #content.sidebar-right,
  #content.both-sidebars { float: none; margin: 0; width: 100%; } 
  
  /** 
   * Superfooter
   */
  .superfooter-resource-links { width: 25%; }
  .superfooter-resource-links .title { min-height: 35px; }
  .superfooter-resource-links ul.menu { display: block !important; }
  #street-address-info {
    clear: left;
    float: left;
    width: 100%; 
  }
  #street-address-info img { float: left; }
  #street-address-info p { margin: 0; }
  .street-address { float: left; padding-left: 10px; }
  
  /**
   * Footer
   */
  #footer-utility-links {
    float: none;
    width: 100%;
  }
  #footer-utility-links .menu { text-align: center; }
  #footer-utility-links .menu li {
    border: none;
    margin: 6px;
    padding: 0;    
  }
  #footer-utility-links .menu li a {
    display: inline-block;
    padding: 5px 10px;
  }
  #footer-logo {
    float: none;
    text-align: center; 
  }
  #footer-logo img, #footer-logo p { float: none; }
  #footer-logo p { padding: 0 0 10px; }
  
}

/* ~816px or more */
@media only screen and (min-width: 51em) {
  .superfooter-resource-links ul.menu { display: block !important; }
}

/* ~1024px or more */
@media only screen and (min-width: 64em) {

}

