/**
 * @file
 * Default typography settings
 *
 * Includes styling for all typography, lists, etc.
 *
 */

p, h1, h2, h3, h4, h5, h6  { text-rendering: optimizeLegibility; }
h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: bold;
  line-height: 1.1;
  margin: 0 0 0.5em 0;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #929292; 
  font-size: 60%;
  line-height: 0;
}
h1 { font-size: 2.286em; } /* 32px */
h2 { font-size: 2em; } /* 28px */
h3 { font-size: 1.714em; } /* 24px */
h4 { font-size: 1.429em; } /* 20px */
h5 { font-size: 1.286em; } /* 18px */
h6 { font-size: 1.143em; } /* 16px */
p {
  font-size: 1em; /* 14px */
  font-weight: normal;
  line-height: 1.6;
  margin: 0 0 1.29em;
}
dl, ol, ul  {
  font-size: 1em;
  line-height: 1.6;
  list-style-position: outside;
  margin: 0 0 1.29em;
  padding: 0;
}
ol { padding-left: 1.8em; }
ul { padding-left: 1.6em; }
ol ol, ol ul, ul ul, ul ol {
  font-size: 1em;
  margin: .5em 0;
}
li { margin-bottom: .5em; }
li li { margin-bottom: 0; }
dl dt {
  font-weight: bold;
  margin-bottom: 0.3em;
}
dl dd { margin: 0 0 .5em .5em; }
td { padding: .5em; }
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}
em, i {
  font-style: italic; 
  line-height: inherit;
}
strong, b {
  font-weight: bold;
  line-height: inherit;
}
small {
  font-size: 60%;
  line-height: inherit;
}
code {
  color: #7f0a0c;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
}
abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  color: #454545;
  cursor: help;
  font-size: 90%;
  text-transform: uppercase;
}
abbr { text-transform: none; }
blockquote {
  border-left: 1px solid #dddddd;
  margin: 0 0 1.25em;
  padding: 0.5625em 1.25em .071em 1.1875em;
}
blockquote cite {
  color: #787878;
  display: block;
}
blockquote cite:before {
  content: "\2014 \0020";
  font-family: "FontAwesome";
}
blockquote cite a, blockquote cite a:visited { color: #787878; }
blockquote, blockquote p { color: #929292; }


/* Microformats */
.vcard {
  border: 1px solid #dddddd;
  display: inline-block;
  margin: 0 0 1.25em 0;
  padding: 0.625em 0.75em;
}
.vcard li {
  display: block;
  margin: 0;
}
.vcard .fn {
  font-size: 0.9375em;
  font-weight: bold;
}
.vevent .summary { font-weight: bold; }
.vevent abbr {
  border: none;
  cursor: default;
  font-weight: bold;
  padding: 0 0.0625em;
  text-decoration: none;
}

/**
 * Tweaks to Drupal defaults
 */
/* list & table markup */
.item-list ul { padding-left: 1.6em; }
.item-list ul li { margin: 0 0 .5em; padding: 0; }
.item-list ul li li { margin: 0; }
.item-list ul ul { margin: .5em 0; }
tr.even { background-color: #F9F9F9; }
ul.primary li a { 
  border-radius: 5px 5px 0 0;
  padding: 0 1.5em; }
}

/* form elements */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    font-weight: 700;
    margin: 0 0.5em;
}
fieldset { margin: 0 0 1.29em; padding: 1em; }
fieldset.collapsed { margin: 0; }
fieldset.filter-wrapper { border-top: 1px solid #C0C0C0; }
legend { font-size: 1.286em; font-weight: 700; }
.form-type-radio .description, .form-type-checkbox .description { margin-left: 1.5em; }
input[type="textfield"], input[type="file"], input.form-text, input.form-file {
  border: 1px solid #b0b0b0;
  padding: 1px;
}

/**
 * PLACEHOLDER: baseline typography overrides for structural elements and/or regions   
 */


/**
 * Media Query Breakpoints
 *
 * Breakpoints are calculated based on a browser default font-size of 16px and NOT what the base
 * font-size is set to be (which is ~14px in this case of this page.) Plus, if the user decides to
 * increase their default font size for their browser the layout will drop down to a lower
 * breakpoint (provided font size is increased enough), thus making for a more usable page!
 */

/* ~496px and less */
@media only screen and (max-width: 31em) {
  
  h1, h2, h3, h4, h5, h6 { line-height: 1.2125em; }
  h1 { font-size: 2.125em; }
  h2 { font-size: 1.6875em; }
  h3 { font-size: 1.375em; }
  h4 { font-size: 1.125em; }
  
}

/* ~496px to ~816px */
@media only screen and (min-width: 31em) and (max-width: 51em) {
  
  h1, h2, h3, h4, h5, h6 { line-height: 1.2125em; }
  h1 { font-size: 2.125em; }
  h2 { font-size: 1.6875em; }
  h3 { font-size: 1.375em; }
  h4 { font-size: 1.125em; }
  
}

/* ~816px or more */
@media only screen and (min-width: 51em) {
  
  
}

/* ~1024px or more */
@media only screen and (min-width: 64em) {
  
  
}