/**
 * @file
 * CSS structure styles
 *
 * Includes styling for page layout structure and menus
 *
 */

#page { /*overflow: hidden; */}

/* Standard section wrapper */
.row {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
}

/* Primary skip-to links */
#skip-links { display: none; }

/* Utility and SM links */
#utility {
  background-color: #fff;
  border-top: 2px solid #999;
  box-shadow: 0px 0px 10px #C4C4C4;
  left: 0;
  position: absolute;
  top: -132px;
  width: 100%;
  z-index: 100;
}
#social-media-links-wrapper {
  float: right;
  position: relative;
}
#utility .row { padding: 0; }
#utility-links { float: left; }
#utility-links .menu, #social-media-links {
  float: left;
  margin: 0;
  padding: 0;
}
#utility-links .ulink, #social-media-links li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#utility-links .ulink a {
  color: #646464;
  display: block;
  font-size: .86em;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 1px 0 0;
  padding: 13px 10px 13px 28px;
  position: relative;
}
#utility-links .ulink a:link, #utility-links .ulink a:visited { text-decoration: none; }
#utility-links .ulink a:hover, #utility-links .ulink a:active { background-color: #f5f5f5; }
#utility-links .campus-map a { padding-left: 26px; }
#social-media-links { float: right; }
#social-media-links a {
  background: url('../images/icons/icon-sm-outlet-default.png') no-repeat left center;
  display: block;
  height: 0px;
  overflow: hidden;
  padding: 30px 0 0 0;
  margin: 5px;
  width: 30px;
}
#utility-links .mothership a:before,
#utility-links .campus-map a:before,
#utility-links .offices a:before,
#utility-links .directories a:before {
  color: #8C8C8C;
  content: '\f0a8';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  left: 9px;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 12px;
}

#utility-links .mothership a:before { content: '\f015'; }
#utility-links .campus-map a:before { content: '\f041'; left: 11px; }
#utility-links .offices a:before { content: '\f0f7'; }
#utility-links .directories a:before { content: '\f007'; }
#social-media-links .facebook   { background: url('/img/icons/icon-facebook.png'); }
#social-media-links .flickr     { background: url('/img/icons/icon-flickr.png'); }
#social-media-links .googleplus { background: url('/img/icons/icon-googleplus.png'); }
#social-media-links .instagram  { background: url('/img/icons/icon-instagram.png'); }
#social-media-links .linkedin   { background: url('/img/icons/icon-linkedin.png'); }
#social-media-links .pinterest  { background: url('/img/icons/icon-pinterest.png'); }
#social-media-links .rss        { background: url('/img/icons/icon-rss.png'); }
#social-media-links .twitter    { background: url('/img/icons/icon-twitter.png'); }
#social-media-links .youtube    { background: url('/img/icons/icon-youtube.png'); }

/* Masthead */
#masthead {
  min-height: 198px;
  position: relative;
}
#identity {
  position: absolute;
  top: 42px;
  width: 100%;
  z-index: 100;
}
#identity-wrapper {
  background-color: #000;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
  height: 90px;
  margin: 0 auto;
  max-width: 1024px;
  overflow: hidden;
}

/* Primary logo */
#gt-logo {
  float: left;
  margin: 0;
  position: relative;
}
#jp-logo {
  float: right;
  margin: 0;
  position: relative;
}
#gt-logo-mothership-link {
  background: url('../images/ie-sucks.png');
  display: block;
  height: 0;
  left: 0;
  overflow: hidden;
  padding: 75px 0 0 0;
  position: absolute;
  top: 0;
  width: 25%;
}
#gt-logo-secondary-link {
  background: url('../images/ie-sucks.png');
  display: block;
  height: 0;
  left: 25%;
  overflow: hidden;
  padding: 75px 0 0 0;
  position: absolute;
  top: 0;
  width: 75%;
}

/* Site title */
#site-title {
  color: #EEB211;
  float: right;
  font-stretch: condensed;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 28px 30px 0 0;
  text-align: right;
  text-shadow: 0 1px 2px #000000;
  max-width: 40%;
}
#site-title.two-line {
  font-size: 1.7143em;
  line-height: 1.05;
  padding-top: 18px;
}
#site-title a:link, #site-title a:visited,
#site-title a:hover, #site-title a:active {
  color: #EEB211;
  text-decoration: none;
}

/* Primary menus */
#primary-menus {
  position: absolute;
  top: 132px;
  width: 100%;
  z-index: 100;
}
#primary-menus-wrapper {
  background-color: #E6E6E6;
  margin: 0 auto;
  max-width: 1024px;
}
#primary-menus-toggle {
  background-color: #EEB211;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  padding: 3px 8px;
  text-transform: uppercase;
}
#primary-menus-toggle:before {
  color: #fff;
  content: '\f022';
  display: block;
  float:left;
  font-family: FontAwesome;
  font-size: 1.62em;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
}
#primary-menus-toggle span {
  display:block;
  float:left;
  margin: 5px 0 0 6px
}
#primary-menus-close {
  background-color: #f1f1f1;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: block;
  height: 44px;
  overflow: hidden;
  position: absolute;
  right: -44px;
  top: 1px;
  width: 44px;
}
#primary-menus-close span { display: none; }
#primary-menus-close:before {
  color: #333;
  content: '\f057';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  left: 12px;
  line-height: inherit;
  position: absolute;
  top: 6px
}
/* Main menu & action links */
#main-menu-wrapper {
  float: left;
  position: relative;
}
#main-menu-wrapper ul, #action-items {
  background-color: #EEB211;
  float: left;
  font-size: .929em;
  line-height: 1.7;
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-menu-wrapper li, #action-items li {
  background-image: none;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
#main-menu-wrapper li ul { display: none; }
#main-menu-wrapper a, #action-items a {
  display: block;
  padding: 6px 12px;
}

#main-menu-wrapper li li {
  font-size: 1em;
}
#main-menu-wrapper li li li {
  font-size: 1.075em;
  line-height: 1.3;
  border: none;
}
#main-menu-wrapper li li.expanded li ul {
  border: none;
  padding-top: 0;
}
#main-menu-wrapper a:link, #main-menu-wrapper a:visited {
  color: #00254C;
  text-decoration: none;
}
#main-menu-wrapper a:hover, #main-menu-wrapper a:active {
  background: none repeat scroll 0 0 #171102;
  color: #FFFFFF;
  transition: background 0.3s ease 0s;
}
#main-menu-wrapper ul ul ul {
  background-color: #FACB4B;
  width: 100%;
}
#main-menu-wrapper li li a { padding-left: 12px; }
#main-menu-wrapper li li a:hover, #main-menu-wrapper li li a:active { background-color: #281d01; }
#main-menu-wrapper li li li a { padding-left: 18px; }
#main-menu-wrapper li li li a:before {
  color: #A37908;
  content: "\f105";
  display: inline-block;
  font-family: FontAwesome;
  font-weight: bold;
  padding-right: 3px;
}
#main-menu-wrapper li li li li a { padding-left: 24px; }
#main-menu-wrapper li li li li li a { padding-left: 30px; }

#action-items-wrapper {
  float: left;
  position: relative;
}
#action-items {
  background: #e6e6e6;
  background: -moz-linear-gradient(left, #b2b2b2 0%, #e6e6e6 3%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b2b2b2), color-stop(3%,#e6e6e6));
  background: -webkit-linear-gradient(left, #b2b2b2 0%,#e6e6e6 3%);
  background: -o-linear-gradient(left, #b2b2b2 0%,#e6e6e6 3%);
  background: -ms-linear-gradient(left, #b2b2b2 0%,#e6e6e6 3%);
  background: linear-gradient(to right, #b2b2b2 0%,#e6e6e6 3%);
  padding: 0 0 0 3px;
}
#action-items li { text-transform: uppercase; }
#action-items a { padding-right: 18px; }
#action-items a:after {
  color: #AAAAAA;
  content: "\f105";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.4em;
  line-height: 1;
  position: absolute;
  right: 6px;
  top: 7px;
}
#action-items a:link, #action-items a:visited { color: #646464; text-decoration: none; }
#action-items a:hover, #action-items a:active { background-color: #eeeeee; color: #171102; text-decoration: none; }

/* Mini-panels Mega Menu */

/*

.qtip { border-top: 2px solid #A37908; }

#main-menu-wrapper a.menu-minipanel:hover:before {
  color: #A37908;
  content: "\f0de";
  display: block;
  font-family: FontAwesome;
  font-size: 1.8em;
  font-style: normal;
  font-weight: normal;
  left: 10px;
  position: absolute;
  top: 18px;
  z-index: 10000;
}

*/

.menu-minipanels .pane-content { padding: 5px; }
.menu-minipanels .menu {
  margin: 0;
  padding: 0;
}
.menu-minipanels .menu li {
  font-size: 0.97em;
  line-height: 1.3;
  list-style: none outside none;
  margin: 0 0 6px;
  padding: 0;
}
.menu-minipanels .menu li a {
  color: #fff;
  display: block;
  padding: 3px 0 3px 12px;
  position: relative;
}
.menu-minipanels .menu li a:before {
  color: #A37908;
  content: "\f054";
  display: block;
  font-family: FontAwesome;
  left: 0;
  margin-right: 6px;
  position: absolute;
  top: 4px;
}
.menu-minipanels .menu li li {
  padding-left: 3px;
  font-size: .94em;
}
.menu-minipanels .menu li li a:before { content: ''; }
.menu-minipanels .menu li a:link, .menu-minipanels .menu li a:visited {
  color: #fff;
  text-decoration: none;
}
.menu-minipanels .menu li a:hover, .menu-minipanels .menu li a:active {
  color: #fff;
  text-decoration: underline;
}

/**
 * Site search in primary-menu bar
 */
#site-search {
  float: right;
  position: relative;
  z-index: 50;
}
#site-search #search-block-form #edit-submit { display: none; }
#site-search-container-switch {
  background: #6b6b6b;
  background: -moz-linear-gradient(left, #6b6b6b 0%, #a9aaae 5%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6b6b6b), color-stop(5%,#a9aaae));
  background: -webkit-linear-gradient(left, #6b6b6b 0%,#a9aaae 5%);
  background: -o-linear-gradient(left, #6b6b6b 0%,#a9aaae 5%);
  background: -ms-linear-gradient(left, #6b6b6b 0%,#a9aaae 5%);
  background: linear-gradient(to right, #6b6b6b 0%,#a9aaae 5%);
}
#site-search-container-switch {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: .929em;
  font-weight: 500;
  letter-spacing: .08em;
  line-height: 1.7;
  padding: 6px 18px 6px 34px;
  text-transform: uppercase;
}
#site-search-container-switch:before {
  color: #fff;
  content: '\f002';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  left: 12px;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 8px;
}
#site-search-container-switch:link,
#site-search-container-switch:visited { text-decoration: none; }
#site-search-container {
  background-color: #A9AAAE;
  border-radius: 0 0 5px 5px;
  display: none;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 100%;
}

/* Local (Drupal) search */
#search-local label, #search-local input.form-submit { display: none; }
#search-local input { width: 200px; }

/* All of GT (Goole Appliance) search */
#search-gt input { width: 200px; }

/* User choice search */
#search-user-choice {
  min-width: 270px;
  padding: 0 0 3px 0;
  position: relative;
}
#search-user-choice #search-local-selection,
#search-user-choice #search-gt-selection {
  color: #e5e5e5;
  cursor: pointer;
  float: left;
  font-size: 1em;
  font-weight: 500;
  padding: 35px 10px 0 22px;
  position: relative;
}
#search-user-choice #search-local-selection:before,
#search-user-choice #search-gt-selection:before {
  color: #d8d8d8;
  content: '\f096';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.3em;
  left: 2px;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 35px;
}
#search-user-choice #search-local-selection:link,
#search-user-choice #search-local-selection:visited,
#search-user-choice #search-gt-selection:link,
#search-user-choice #search-gt-selection:visited { text-decoration: none; }
#search-user-choice #search-local-selection.checked,
#search-user-choice #search-gt-selection.checked { color: #fff; }
#search-user-choice #search-local-selection.checked:before,
#search-user-choice #search-gt-selection.checked:before {
  color: #fff;
  content: '\f046';
}
#search-user-choice #search-local,
#search-user-choice #search-gt {
  left: 0px;
  position: absolute;
  top: 0px;
}
#search-user-choice #search-gt { display: none; }
#search-user-choice #search-local input,
#search-user-choice #search-gt input {
  border: 1px solid #949599;
  padding: 2px;
  width: 270px;
}

/* Breadcrumb */
#breadcrumb { clear: both; }
#breadcrumb .row {
  background-color: #023d7b;
  border-bottom: 1px solid #072f59;
  margin: 0 auto;
}
#breadcrumb ul, #breadcrumb li {
  float: left;
  margin: 0;
  padding: 0;
}
#breadcrumb li {
  font-size: .821em;
  font-weight: 500;
  letter-spacing: .05em;
  list-style: none;
  position: relative;
}
#breadcrumb li a {
  color: #bbcfe4;
  display: block;
  padding: 6px 18px 6px 10px;
  text-decoration: none;
}
#breadcrumb li a:after {
  color: #82a6cc;
  content: '\f054';
  display: inline-block;
  font-family: FontAwesome;
  font-size: .8em;
  font-style: normal;
  font-weight: normal;
  right: 0;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 12px;
}
#breadcrumb li.last a:after { display: none; }
#breadcrumb li a:hover { color: #fff; }

/**
 * Header spotlight
 */
#header-spotlight {
  padding-top: 42px;
  position: relative;
}
.region-spotlight { padding-top: 160px; }

/**
 * Primary Content Regions
 */
#main { padding-top: 7px; } /* Compensating for negative margin in masthead */
#main.with-spotlight { padding-top: 0; }
#support { padding: 10px; }
#sidebar-left, #sidebar-right {
  float: left;
  padding: 0 0 10px;
  width: 20%;
}
#sidebar-left.solo-sidebar {
  margin: 0 0 0 -100%;
  width: 30%;
}
#sidebar-right { margin: 0 0 0 60%; }
#sidebar-right.solo-sidebar {
  margin: 0;
  width: 30%;
}
#content {
  float: left;
  padding: 0 0 10px;
  width: 100%;
  min-height: 400px;
}
#content.sidebar-left {
  margin: 0 0 0 30%;
  width: 70%;
}
#content.sidebar-right {
  margin: 0;
  width: 70%;
}
#content.both-sidebars {
  margin: 0 -120% 0 20%;
  width: 60%;
}
#content-lead, #content-close { padding: 0 0 10px; }
#content-close { clear: both; }

/* Page title */
#page-title .title {
  margin: 0;
  padding: 16px 10px 18px;
}

/* Default menus */
.block.block-menu .block-title-wrapper h4 {
  border-top: 1px solid #AAAAAA;
  font-size: 1.143em;
  line-height: 1.285;
  margin: 0;
  padding: 10px 3px;
}
.block-menu .menu {
  border-bottom: 1px solid #AAAAAA;
  margin: 0 0 10px;
  padding: 0;
}
.block-menu .menu li {
  border-top: 1px solid #E5E5E5;
  list-style: none;
  margin: 0;
  padding: 8px 3px;
  position: relative;
}
.block-menu .menu li.first { border: none; }
.block-menu .menu a { display: block; }
.block-menu .menu a:link, .block-menu .menu a:visited { text-decoration: none; }
.block-menu .menu a:hover, .block-menu .menu a:active { text-decoration: underline; }
.block-menu .menu .menu { border: none; font-size: 1em; margin: 0; padding: 0 0 2px 6px; }
.block-menu .menu .menu .menu { }
.block-menu .menu li li { border: none; font-size: .929em; padding-bottom: 0; }
.block-menu .menu li li:before {
  color: #aaa;
  content: '\f105';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  left: -5px;
  line-height: 1;
  position: absolute;
  top: 12px;
}
.block-menu .menu li li li { font-size: 1em; }

.left-nav ul li li:before,
.left-nav ul li li a:before {
  content: "";
}

/* Menus in Left Nav region */
.left-nav .block-title-wrapper { display: none; }
.left-nav ul {
  border-top: 4px solid #EEB211;
  margin: 0 0 20px;
  padding: 0;
}
.left-nav ul li {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.left-nav ul li a {
  border-bottom: 1px solid #c7c7c7;
  display: block;
  color: #023d7b;
  font-weight: 700;
  padding: 8px 12px 8px 20px;
  position: relative;
  text-decoration: none;
}
.left-nav ul li a:hover { color: #105aa8; }
.left-nav ul li.expanded a {
  border-bottom: none;
  padding-bottom: 0px;
}
.left-nav ul li.expanded li.last a { padding-bottom: 8px; }
.left-nav ul li ul {
  border-bottom: 1px solid #c7c7c7;
  border-top: none;
  margin: 0;
  padding: 0 0 5px 12px;
}
.left-nav ul li ul li ul { border: none; padding-bottom: 0; }
.left-nav ul li li a {
  border: none;
  font-size: 1em;
  font-weight: 400;
}
.left-nav ul li a:before {
  color: #eee;
  content: '\f054';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 6px;
}
.left-nav ul li li:before,
.left-nav ul li li a:before {
  content: "";
}

/**
 * Superfooter
 */
#superfooter {
  background-color: #646464;
  padding: 20px 0;
  width: 100%;
}

/* street address + map image */
#street-address-info {
  float: right;
  padding: 0 15px;
  width: 33%;
}
#street-address-info img { box-shadow: 0px 2px 5px #333; }
#street-address-info p { color: #fff; font-size: .857em; margin-top: 6px; }

/* resource links */
.superfooter-resource-links {
  float: left;
  padding: 0 10px 10px;
  position: relative;
  width: 16.5%
}
.superfooter-resource-links ul.menu {
  display: block;
  font-size: .7857em;
  letter-spacing: .05em;
  line-height: 1.4;
  margin: 0 0 12px 0;
  padding: 0;
}
.superfooter-resource-links ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.superfooter-resource-links .title, .superfooter-resource-links ul.menu span.nolink {
  color: #EEB211;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.15;
  margin: 0 0 0.6em;
  padding: 0;
  text-shadow: 0 1px 0 #333333;
}
.superfooter-resource-links ul.menu span.nolink {
  border-bottom: 1px dotted #D8A10C;
  border-top: 1px dotted #D8A10C;
  display: block;
  font-size: 1.214em;
  font-weight: 700;
  margin: .9em 0 0.6em;
  padding: 5px 0 6px 2px;
}
.superfooter-resource-links ul.menu li a {
  color: #f1f1f1;
  display: block;
  padding: 0.5em 0 0.5em 3px;
  text-decoration: none;
}
.superfooter-resource-links ul.menu a:hover { color: #fff; text-decoration: underline; }

/**
 * Footer
 */
#footer { background-color: #EEB211; }
#footer .row { padding: 10px; }
#footer-logo { float: left; }
#footer-logo img {
	float: left;
	width: 70px;
	margin-right: 4px;
}
#footer-logo p {
  color: #6c5003;
  float: left;
  font-size: .857em;
  margin: 0;
  padding-top: 30px;
}
#footer-login {
  float: right;
  padding: 10px 0;
}
#footer-login li {
  float: left;
  font-size: .857em;
  list-style: none;
  margin: 0 10px 0 0;
}
#footer-login li a {
  background-color: #c5930c;
  border-radius: 20px;
  color: #EEB211;
  display: block;
  padding: 2px 8px;
  text-decoration: none;
}
#footer-utility-links {
  float: right;
  position: relative;
  width: 60%;
}
#footer-utility-links .menu {
  margin: 0;
  padding: 5px 0;
  text-align: right;
}
#footer-utility-links .menu.gt-footer-utility-links { border-bottom: 1px solid #c5930c; }
#footer-utility-links .menu.custom-links-included { border-top: 1px solid #f6ba1a; }
#footer-utility-links .menu li {
  border-right: 1px solid #BE8C07;
  display: inline;
  font-size: .857em;
  padding: 2px 10px;
  margin: 0 0 2px;
}
#footer-utility-links li.last { border: none; }
#footer-utility-links li:last-child { border: none; }
#footer-utility-links li.first.last { border: none; }
#footer-utility-links a {
  color: #6c5003;
  text-decoration: none;
}
#footer-utility-links a:hover { color: #333; }


/**
 * Contextual links for GT Tools menus
 */

.gt-tools-contextual-link { display: block; }
.gt-tools-contextual-link.empty {
  border: 1px dashed #666;
  font-size: .786em;
  padding: 6px 10px;
  margin: 3px;
  text-align: center;
}
.gt-tools-contextual-link.empty:link,
.gt-tools-contextual-link.empty:visited {
  color: #666;
  text-decoration: none;
}
.gt-tools-contextual-link.empty:hover,
.gt-tools-contextual-link.empty:active {
  color: #000;
}
div:hover > .gt-tools-contextual-link.populated { visibility: visible; }
.gt-tools-contextual-link.populated {
  display: block;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 16px;
}
.gt-tools-contextual-link.populated:before {
  color: #666;
  content: '\f013';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
}
#main-menu-wrapper .gt-tools-contextual-link.populated { padding: 0; }
#main-menu-wrapper .gt-tools-contextual-link.populated:hover { background-color: transparent; }
#superfooter .gt-tools-contextual-link.populated:before { color: #fff; }
#superfooter .gt-tools-contextual-link.empty {
  border-color: #333;
  color: #333;
}

/**
 * Media Query Breakpoints
 *
 * Breakpoints are calculated based on a browser default font-size of 16px and NOT what the base
 * font-size is set to be (which is ~14px in this case of this page.) Plus, if the user decides to
 * increase their default font size for their browser the layout will drop down to a lower
 * breakpoint (provided font size is increased enough), thus making for a more usable page!
 */

/* ~496px and less */
@media only screen and (max-width: 31em) {

  /*
   * Masthead
   */
  #masthead {
    min-height: 0px;
  }
  #identity {
    border-top: 2px solid #999;
    position: static;
    top: 0;
  }
  #identity-wrapper { height: auto; }
  #gt-logo { height: 70px; }
  #gt-logo img {
    height: 100%;
    margin: 0 auto;
    width: auto;
  }
  #gt-logo, #site-title {
    float: none;
    text-align: left;
    width: 100%;
  }
  #site-title { max-width: 100%; }
  #site-title, #site-title.two-line {
    font-size: 1.429em;
    padding: 0 0 20px 15px;
  }
  #gt-logo-mothership-link { width: 30%; }
  #gt-logo-secondary-link { left: 30%; width: 70%; }
  
  /**
  * Main Menu, Action Items + Utility/SM
  */
  #primary-menus {
    position: static;
    top: 0;
  }
  #primary-menus-off-canvas {
    background-color: #fff;
    box-shadow: 0px 0px 20px #666;
    left: -1000em;
    padding-top: 80px;
    position: absolute;
    top: 0;
    width: 260px;
    z-index: 10000;
  }
  #primary-menus-off-canvas.reveal {
    left: 0;
    transition: left .2s ease 0s;
  }
  #main-menu-wrapper,
  #main-menu-wrapper ul,
  #main-menu-wrapper li { float: none; }
  #main-menu-wrapper a:hover { background-color: #281d01; }
  #main-menu-wrapper ul ul {
    background-color: #FACB4B;
    border-top: 1px solid #c5930c;
  }
  #main-menu-wrapper ul.show { display: block; }
  #main-menu-wrapper { border-top: 1px solid #c5930c; }
  #main-menu-wrapper li { border-bottom: 1px solid #c5930c; }
  #main-menu-wrapper li.first { border-top: 1px solid #c5930c; }
  #main-menu-wrapper li li,
  #main-menu-wrapper li li.first { border: none; }
  #main-menu-wrapper li.expanded > a:before,
  #main-menu-wrapper li.expanded a.menu-minipanel:before {
    color: #977008;
    content: '\f0da';
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 1em;
    left: 0;
    padding-right: 3px;
    position: relative;
    top: 0;
  }
  #main-menu-wrapper li.expanded a.been-clicked:after {
    color: #977008;
    content: '\f0a9';
    display: inline-block;
    float: right;
    font-family: FontAwesome;
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-top: 2px;
  }
  #main-menu-wrapper li li.expanded:before { top: 9px; }
  #main-menu-wrapper li li.expanded ul { border-top: none; }
  #main-menu-wrapper li li li a:before {
    content: '';
    font-weight: normal;
    padding: 0;
  }
  #main-menu-wrapper li li a { padding-left: 24px; }
  #main-menu-wrapper li li li a { padding-left: 30px; }
  #main-menu-wrapper li li li li a { padding-left: 36px; }

  /* Reducing mini-panels content for mobile menu */
  div.qtip {
    border: none;
    height: 0px;
    overflow: hidden;
  }
  div.menu-minipanels {
    height:0;
    left: -10000em;
    overflow: hidden;
    position: absolute;
    width: 0;
  }

  #action-items-wrapper,
  #action-items,
  #action-items li { float: none; }
  #action-items {
    background: none;
    background-color: #e6e6e6;
    border-top: 2px solid #999;
  }
  #action-items li {
    border-bottom: 1px solid #999;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
  }
  #action-items li a:hover { background-color: #f1f1f1; }
  #action-items-wrapper ul li a:after {
    color: #999;
    content: '\f0a9';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    position: absolute;
    right: 6px;
    top: 9px;
  }
  #utility {
    border-bottom: 2px solid #999;
    box-shadow: none;
    position: static;
  }
  #utility-links {
    background-color: #fff;
    float: none;
    left: 0;
    position: absolute;
    top: 0;
  }
  #utility-links .ulink a:hover,
  #utility-links .ulink a:active { background-color: transparent; }
  #social-media-links {
    float: none;
    padding: 10px;
  }
  #social-media-links li {
    display: inline-block;
    float: none;
    padding: 3px;
  }

  /**
   * Primary Content Regions
   */
  #sidebar-left, #sidebar-right { float: none; margin: 0; width: 100%; }
  #sidebar-left.solo-sidebar, #sidebar-right.solo-sidebar { margin: 0; width: 100%; }
  #content, #content.sidebar-left,
  #content.sidebar-right,
  #content.both-sidebars { float: none; margin: 0; width: 100%; }

  /**
   * Superfooter
   */
  .superfooter-resource-links {
    float: none;
    padding: 0;
    width: 100%;
  }
  .superfooter-resource-links .title:before {
    color: #999999;
    content: '\f0da';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    left: 11px;
    line-height: 1;
    position: absolute;
    text-shadow: none;
    top: 10px;
  }
  .superfooter-resource-links .title.open:before { content: '\f0d7'; }
  .superfooter-resource-links .title {
    border-top: 1px solid #999999;
    cursor: pointer;
    margin: 0;
    padding: 10px 10px 10px 26px;
  }
  .superfooter-resource-links ul.menu {
    display: none;
    background-color: #454545;
    margin: 0 0 16px;
    padding: 10px 10px 10px 14px;
  }
  .superfooter-resource-links ul.menu span.nolink {
    border: none;
    margin: 0 0 0 -2px;
    padding: .5em 0;
  }
  #street-address-info {
    border-top: 1px solid #999;
    clear: left;
    float: left;
    padding: 20px 10px 0;
    width: 100%;
  }
  #street-address-info p { margin: 6px 0 0 0; }

  /**
   * Footer
   */
  #footer-utility-links {
    float: none;
    width: 100%;
  }
  #footer-utility-links .menu { text-align: center; }
  #footer-utility-links .menu li {
    border: none;
    margin: 6px;
    padding: 0;
  }
  #footer-utility-links .menu li a {
    display: inline-block;
    padding: 5px 10px;
  }
  #footer-logo {
    float: none;
    text-align: center;
  }
  #footer-logo img, #footer-logo p { float: none; }
  #footer-logo p { padding: 0 0 10px; }

}

/* ~496px to ~816px */
@media only screen and (min-width: 31em) and (max-width: 51em) {

  /*
   * Masthead
   */
  #masthead {
    min-height: 0px;
  }
  #identity {
    border-top: 2px solid #999;
    position: static;
    top: 0;
  }
  #identity-wrapper { height: auto; }
  #gt-logo { height: 70px; }
  #gt-logo img {
    height: 100%;
    margin: 0 auto;
    width: auto;
  }
  #gt-logo, #site-title {
    float: none;
    text-align: left;
    width: 100%;
  }
  #site-title { max-width: 100%; }
  #site-title, #site-title.two-line {
    font-size: 1.429em;
    padding: 0 0 20px 15px;
  }
  #gt-logo-mothership-link { width: 15%; }
  #gt-logo-secondary-link { left: 15%; }

  /**
  * Main Menu, Action Items + Utility/SM
  */
  #primary-menus {
    position: static;
    top: 0;
  }
  #primary-menus-off-canvas {
    background-color: #fff;
    box-shadow: 0px 0px 20px #666;
    left: -1000em;
    padding-top: 80px;
    position: absolute;
    top: 0;
    width: 260px;
    z-index: 10000;
  }
  #primary-menus-off-canvas.reveal {
    left: 0;
    transition: left .2s ease 0s;
  }
  #main-menu-wrapper,
  #main-menu-wrapper ul,
  #main-menu-wrapper li { float: none; }
  #main-menu-wrapper a:hover { background-color: #281d01; }
  #main-menu-wrapper ul ul {
    background-color: #FACB4B;
    border-top: 1px solid #c5930c;
  }
  #main-menu-wrapper ul.show { display: block; }
  #main-menu-wrapper { border-top: 1px solid #c5930c; }
  #main-menu-wrapper li { border-bottom: 1px solid #c5930c; }
  #main-menu-wrapper li.first { border-top: 1px solid #c5930c; }
  #main-menu-wrapper li li,
  #main-menu-wrapper li li.first { border: none; }
  #main-menu-wrapper li.expanded > a:before,
  #main-menu-wrapper li.expanded a.menu-minipanel:before {
    color: #977008;
    content: '\f0da';
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 1em;
    left: 0;
    padding-right: 3px;
    position: relative;
    top: 0;
  }
  #main-menu-wrapper li.expanded a.been-clicked:after {
    color: #977008;
    content: '\f0a9';
    display: inline-block;
    float: right;
    font-family: FontAwesome;
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-top: 2px;
  }
  #main-menu-wrapper li li.expanded:before { top: 9px; }
  #main-menu-wrapper li li.expanded ul { border-top: none; }
  #main-menu-wrapper li li li a:before {
    content: '';
    font-weight: normal;
    padding: 0;
  }
  #main-menu-wrapper li li a { padding-left: 24px; }
  #main-menu-wrapper li li li a { padding-left: 30px; }
  #main-menu-wrapper li li li li a { padding-left: 36px; }

  /* Reducing mini-panels content for mobile menu */
  div.qtip {
    border: none;
    height: 0px;
    overflow: hidden;
  }
  div.menu-minipanels {
    height:0;
    left: -10000em;
    overflow: hidden;
    position: absolute;
    width: 0;
  }

  #action-items-wrapper,
  #action-items,
  #action-items li { float: none; }
  #action-items {
    background: none;
    background-color: #e6e6e6;
    border-top: 2px solid #999;
  }
  #action-items li {
    border-bottom: 1px solid #999;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
  }
  #action-items li a:hover { background-color: #f1f1f1; }
  #action-items-wrapper ul li a:after {
    color: #999;
    content: '\f0a9';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    position: absolute;
    right: 6px;
    top: 9px;
  }
  #utility {
    border-bottom: 2px solid #999;
    box-shadow: none;
    position: static;
  }
  #utility-links {
    background-color: #fff;
    float: none;
    left: 0;
    position: absolute;
    top: 0;
  }
  #utility-links .ulink a:hover,
  #utility-links .ulink a:active { background-color: transparent; }
  #social-media-links {
    float: none;
    padding: 10px;
  }
  #social-media-links li {
    display: inline-block;
    float: none;
    padding: 3px;
  }

  /**
   * Primary Content Regions
   */
  #sidebar-left, #sidebar-right { float: none; margin: 0; width: 100%; }
  #sidebar-left.solo-sidebar, #sidebar-right.solo-sidebar { margin: 0; width: 100%; }
  #content, #content.sidebar-left,
  #content.sidebar-right,
  #content.both-sidebars { float: none; margin: 0; width: 100%; }

  /**
   * Superfooter
   */
  .superfooter-resource-links { width: 25%; }
  .superfooter-resource-links .title { min-height: 35px; }
  .superfooter-resource-links ul.menu { display: block !important; }
  #street-address-info {
    clear: left;
    float: left;
    width: 100%;
  }
  #street-address-info img { float: left; }
  #street-address-info p { margin: 0; }
  .street-address { float: left; padding-left: 10px; }

  /**
   * Footer
   */
  #footer-utility-links {
    float: none;
    width: 100%;
  }
  #footer-utility-links .menu { text-align: center; }
  #footer-utility-links .menu li {
    border: none;
    margin: 6px;
    padding: 0;
  }
  #footer-utility-links .menu li a {
    display: inline-block;
    padding: 5px 10px;
  }
  #footer-logo {
    float: none;
    text-align: center;
  }
  #footer-logo img, #footer-logo p { float: none; }
  #footer-logo p { padding: 0 0 10px; }

}

/* ~816px or more */
@media only screen and (min-width: 51em) {

  .superfooter-resource-links ul.menu { display: block !important; }

  #main-menu-wrapper ul li { cursor: pointer; }
  #main-menu-wrapper ul li:hover ul { display: block; }
  #main-menu-wrapper ul li:hover a.menu-minipanel+ul,
  #main-menu-wrapper ul li:hover a.menu-minipanel+ul { display: none; }
  #main-menu-wrapper ul ul {
    border-top: 2px solid #A37908;
	  display: none;
	  float: none;
	  left: 0;
	  position: absolute;
	  top: 100%;
	  width: 186px;
	  z-index: 99;
  }
  #main-menu-wrapper ul ul:before {
    color: #A37908;
    content: "\f0de";
    font-family: FontAwesome;
    font-size: 1.8em;
    font-style: normal;
    font-weight: normal;
    left: 11px;
    position: absolute;
    top: -19px;
  }
  #main-menu-wrapper ul ul ul {
    border: none;
		margin: 0;
		position: relative;
		top: 0;
  }
  #main-menu-wrapper ul ul ul:before { content: ''; }
  #main-menu-wrapper li ul li { float:none; }

}

/* ~1024px or more */
@media only screen and (min-width: 64em) {

}

