/**
 * @file
 * CSS default styles for static sites
 *
 * Includes styling that is typically included in Drupal core, from which these files are assembled
 *
 */

.element-hidden {
    display: none;
}
.element-invisible {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
}
.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static !important;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html .clearfix {
    height: 1%;
}
:first-child + html .clearfix {
    min-height: 1%;
}
